@import '~@angular/material/theming';
@include mat-core();

$primary-palette: (
  light: #7fffb6,
  base: #06c263,
  dark: #00803f,
  contrast: (
    light: white,
    base: white,
    dark: white,
  )
);

$accent-palette: (
  light: #006666,
  base: #003333,
  dark: #000a00,
  contrast: (
    light: white,
    base: white,
    dark: white,
  )
);

// Primary
$primary: mat-color($primary-palette, base);
$primary-light: mat-color($primary-palette, light);
$primary-dark: mat-color($primary-palette, dark);

// Accent
$accent: mat-color($accent-palette, base);
$accent-light: mat-color($accent-palette, light);
$accent-dark: mat-color($accent-palette, dark);
