.card {
  display: block;
  overflow: hidden;
  background: $base-0;
  border: 1px solid $border-color;
  border-radius: $border-radius;

  .card-header {
    padding: $gap*2 $gap*2 0 $gap*2;

    * {
      margin: 0;
    }
  }

  .card-content {
    padding: $gap $gap*2 $gap*2 $gap*2;
  }

  .card-footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0 $gap*2 $gap*2 $gap;
  }
}
