section {
  overflow: hidden;
  min-height: 100vh;
  background: $base-1;

  &.page {
    padding: $gap*10 0;
  }

  &.center {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .left {
    width: 50%;
    display: inline-grid;
  }

  .right {
    width: 50%;
    display: inline-grid;
  }
}
