@import '../../dashboard/colors.scss';

#login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  .app-card {
    width: 400px;
    align-self: center;
    .app-full-width {
      width: 100%;
    }
    button {
      width: 100%;
      background-color: $primary;
      color: $primary_inverse;
    }
    .card-footer {
      margin-right: 10px;
      margin-left: 10px;
      margin-bottom: 20px;
    }
  }
}
