@import '../../dashboard/colors.scss';
.app-toolbar {
  background-color: $primary;

  padding-left: 60px;
  padding-right: 60px;
  .row-toolbar {
    display: grid;
    grid-template-columns: 150px 40px 40px auto 40px 40px 40px;
    grid-column-gap: 16px;
    color: $primary_inverse;
  }
  .logo {
    height: 45px;
  }
}
