<mat-toolbar class="app-toolbar">
  <mat-toolbar-row class="row-toolbar">
    <span>Angular Material</span>
    <mat-icon>home</mat-icon>
    <mat-icon>money</mat-icon>
    <mat-form-field>
      <mat-icon matPrefix>search</mat-icon>
      <input
        matInput
        type="search"
        placeholder="search here"
        class="search-input"
      />
    </mat-form-field>
    <mat-icon>add</mat-icon>
    <mat-icon>notifications</mat-icon>
    <mat-icon>logout</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
