@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import './app//dashboard/colors.scss';

.element-center {
  display: flex;
  align-items: center;
  justify-content: center;
  * {
    align-self: center;
  }
}

a {
  text-decoration: none;
  color: $primary;
}
