.hero-large {
  font-size: 48px;
  font-weight: bold;
  line-height: 60px;
  letter-spacing: -0.5px;
  margin: 0 0 $gap*0.5 0;
}

.hero-medium {
  font-size: 32px;
  font-weight: bold;
  line-height: 40px;
  letter-spacing: -0.5px;
  margin: 0 0 $gap*0.5 0;
}

.title-large {
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
  letter-spacing: 0;
  margin: 0 0 $gap*0.5 0;
}

.title-medium {
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 0;
  margin: 0 0 $gap*0.5 0;
}

.title-small {
  font-size: 18px;
  font-weight: bold;
  line-height: 21px;
  letter-spacing: 0;
  margin: 0 0 $gap*0.5 0;
}

.body {
  font-size: 16px;
  font-weight: normal;
  line-height: 16px;
  letter-spacing: 0;
  margin: 0 0 $gap*0.5 0;
}

.body-small {
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
  letter-spacing: 0;
  margin: 0 0 $gap*0.5 0;
}

.caption {
  font-size: 12px;
  font-weight: normal;
  line-height: 16px;
  letter-spacing: 0;
  margin: 0 0 $gap*0.5 0;
}
